* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.mainCard {
    position: relative;
    width: 250px;
    height: 350px;
    margin: 5%;
    display: flex;
    /* left: 0; */
    /* overflow: hidden;
    border-radius: 10px; */
}

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: myAnimation 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -40px;
    left: -35px;
}

.circle:nth-child(2) {
    bottom: -40px;
    right: -35px;
    animation-name: secAnimation;
}

.Card {
    width: 250px;
    height: 350px;
    position: absolute;
    background-color: #b0e633;
    z-index: 99;
    background: transparent;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Card p {
    color: antiquewhite;
}

@keyframes myAnimation {
    to {
        /* transform: translateY(-10px); */
        translate: 15px 20px;
    }
}

@keyframes secAnimation {
    to {
        /* transform: translateY(10px); */
        translate: -15px -20px;
    }
}

#sec {
    background: linear-gradient(315deg, #ffbc00, #ff0058)
}

#third {
    background: linear-gradient(#183153, rgb(0, 255, 255));
}

.card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}

.card-img img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.Hero-Name {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 75px;
}

:root {
    --white : #fff;
    --black : #000;
    /* --white: #000;
    --black: #000; */
}

.Hero-Name p {
    font-family: 'Zeyada';
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: var(--white);
}

.Hero-Desc {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 120px;
    left: 13px;
}

.Hero-Desc p {
    font-family: 'Zeyada';
    /* font-family: 'montserrat'; */
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--white);
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .mainCard{
        position: relative;
        gap: 50px;
    }
    .mainCard:nth-child(3) {
        position: absolute;
        top: 450px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 800px) {
    .mainCard{
        position: relative;
        gap: 50px;
    }
    .mainCard:nth-child(3) {
        position: absolute;
        top: 450px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
    .mainCard{
        position: relative;
        gap: 50px;
    }
    .mainCard:nth-child(3) {
        position: absolute;
        top: 450px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
    .mainCard{
        position: relative;
        gap: 0px;
    }
    .mainCard:nth-child(2) {
        position: absolute;
        top: 450px;
    }
    .mainCard:nth-child(3) {
        position: absolute;
        top: 900px;
    }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
    .mainCard{
        position: relative;
        gap: 0px;
    }
    .mainCard:nth-child(2) {
        position: absolute;
        top: 450px;
    }
    .mainCard:nth-child(3) {
        position: absolute;
        top: 900px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
    .mainCard{
        position: relative;
        gap: 0px;
    }
    .mainCard:nth-child(2) {
        position: absolute;
        top: 450px;
    }
    .mainCard:nth-child(3) {
        position: absolute;
        top: 900px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 300px) {
    .mainCard{
        position: relative;
        gap: 0px;
    }
    .mainCard:nth-child(2) {
        position: absolute;
        top: 450px;
        left: 0px;
    }
    .mainCard:nth-child(3) {
        position: absolute;
        top: 900px;
        left: 0px;
    }
}