*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    /* height: 100px; */
    /* background: url('img/Sprinkle1.svg'),#E0F6F8; */
}
.hero{
    background-color: #E0F6F8;
    height: 120vh;
}

/* .main-card-section{
    margin-top:50px;
    height: 450px;
    display: flex;
}
.all-card{
    height: 415px;
}
.internal-card{
    width: 100%;
    margin-top: 50px;
}
.edu-heading{
    display: block;
    height: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: auto;
}
.edu-heading p{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'PT mono';
    font-weight: 700;
    font-size:15px;
}
.edu-heading h3{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'PT mono';
    font-weight: 700;
    font-size:30px;
    letter-spacing: 2px;
} */

.txt-pg{
    width: 100%;
    text-align: center;
}
.txt-pg h1{
    font-family: 'PT mono';
    font-weight: 700;
    font-size:30px;
    letter-spacing: 2px;
    width: auto;
    height: auto;
}
.txt-pg p{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'PT mono';
    font-weight: 700;
    font-size:1em;
    width: 100%;
}
.first-card{
    width: 1000px !important;
    height: 350px;
}
.first-card .img{
    /* width: 50%; */
    height: 30%;  
    background: url('img/college-logo.png')no-repeat center; 
    height: 100%;
    width: 30%;
}
/* .sec-card{
    width: 1050px !important;
    height: 350px;
}
.sec-card .img{
    width: 50%;
    height: 30%;  
    background: url('img/college-logo.png')no-repeat center; 
    height: 100%;
    width: 60%;
}
.third-card{
    width: 1050px !important;
    height: 350px;
}
.third-card .img{
    width: 50%;
    height: 30%;  
    background: url('img/college-logo.png')no-repeat center; 
    height: 100%;
    width: 60%;
} */
.edu-cards{
    margin: 110px;
}
.sec-pg{
    width: 80% !important;
    height: auto !important;
    display: flex;
    margin: 8% 10%;
}
.sec-img{
    width: 40% !important;
}
.sec-img img{
    justify-content: center;
    align-items: center;
    min-height: auto;
    margin: auto;
    position: relative;
    top: 90px;
}
#clz-btn{
    margin-bottom: 10px;
}
.sec-heading{
    width: 60%;
}
.third-page{
    width: 80% !important;
    height: 300px !important;
    display: flex;
    margin: 8% 10%;
    background-color: black;
}
@media screen and (min-width:1100px) and (max-width:1200px){
    
    
}
@media screen and (min-width:1060px) and (max-width:1100px){
    .sec-pg{
        position: relative;
        top: -22%;
    }
    
}
@media screen and (min-width:1000px) and (max-width:1060px){
    .sec-pg{
        position: relative;
        top: -22%;
    }
    
}
@media screen and (min-width:900px) and (max-width:1000px){

    
}
@media screen and (min-width:800px) and (max-width:900px){

    
}
@media screen and (min-width:700px) and (max-width:800px){
    .sec-pg{
        position: relative;
        left: 35px;
    }
    
} 
@media screen and (min-width:600px) and (max-width:700px){
    .sec-pg{
        width: auto !important;
        height: auto !important;
        display: block;
        margin: 7%;
    }
    .sec-img{
        width: 100% !important;
    }
    .sec-img img{
        margin: auto;
    }
    .sec-heading{
        position: relative;
        margin-top: 130px;
        width: 100%;
    }
    
} 
@media screen and (min-width:500px) and (max-width:600px){
    .sec-pg{
        width: auto !important;
        height: auto !important;
        display: block;
        margin: 6%;
    }
    .sec-img{
        width: 100% !important;
    }
    .sec-img img{
        margin: auto;
    }
    .sec-heading{
        position: relative;
        margin-top: 130px;
        width: 100%;
    }
    
} 
@media screen and (min-width:400px) and (max-width:500px){
    .sec-pg{
        width: auto !important;
        height: auto !important;
        display: block;
        margin: 5%;
    }
    .sec-img{
        width: 100% !important;
    }
    .sec-img img{
        margin: auto;
    }
    .sec-heading{
        position: relative;
        margin-top: 130px;
        width: 100%;
    }
    
} 
@media screen and (min-width:300px) and (max-width:400px){
    .sec-pg{
        width: auto !important;
        height: auto !important;
        display: block;
        margin: 4%;
    }
    .sec-img{
        width: 100% !important;
    }
    .sec-img img{
        margin: auto;
    }
    .sec-heading{
        position: relative;
        margin-top: 130px;
        width: 100%;
    }
    
} 
@media screen and (min-width:200px) and (max-width:300px){
    .sec-pg{
        width: auto !important;
        height: auto !important;
        display: block;
        margin: 3%;
    }
    .sec-img{
        width: 100% !important;
    }
    .sec-img img{
        margin: auto;
    }
    .sec-heading{
        position: relative;
        margin-top: 130px;
        width: 100%;
    }
    
} 

