.navbar-nav {
    margin-left: auto;
    z-index: 9;
}
#preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#fff url('PreLoader/Infinity-1s-200px.gif') no-repeat center;
    /* display: none; */
    z-index: 9999;
} 
#myName{
    position: relative;
    top: 8px;
    font-family: 'sacramento';
    font-size: 30px;
}

#myPic{
    display: flex;
    width: 70px;
    height: 70px;
}
.my-nav-bar{
    background-color: #E0F6F8;
    border-radius: 0px 0px 166px 0px;
    height: 540px;
}
.my-nav-link li a{
    font-family: 'Outfit';
    margin: 10px;
    letter-spacing: 2px;
    display: flex;
    transition: 0.7s;
    color: #5B5C68;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.my-nav-link li a:hover{
    color: black;
    transform: translateY(-8px);
}

.cnt{
    margin-top: 130px;
}
.front-heading{
    margin-top: 100px;
    position: relative;
    z-index: 1;
}
.front-heading p{
    font-family: 'PT Mono',monospace;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.f-h .text{
    position: relative;
    color: #4070F4;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'PT mono';
    letter-spacing: 1.5px;
}
.f-h .text.first-text{
    color: #000;
}
#cursor-txt{
    position: relative;
    top: -10px;
}
.text.second-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #E0F6F8;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%,60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.front-heading button{
    font-family: 'outfit';
    letter-spacing: 2px;
}
.front-heading button:nth-child(3){
    width:95px;
}
.front-heading a{
    margin: 20px;
    margin-left: 0;
}
.main-page-img{
    position: absolute;
    top: 80px;
    z-index: 0;
}
.main-page-img img:nth-child(1){
    position: relative;
    top: 110px;
}
.main-page-img img:nth-child(3){
    position: relative;
    margin-left: 99px;
}

@media screen and (min-width:1100px) and (max-width:1200px){

    .main-page-img img:nth-child(1){
        position: relative;
        top: 156px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        right: 3px;
    }
    #myName{
        display: none;
    }
}
@media screen and (min-width:1060px) and (max-width:1100px){

    .main-page-img img:nth-child(1){
        position: relative;
        top: 156px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        right: 3px;
    }
}
@media screen and (min-width:1000px) and (max-width:1060px){

    .main-page-img img:nth-child(1){
        position: relative;
        top: 156px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 60px;
        right: 70px;
        width: 400px;
    }
}
@media screen and (min-width:900px) and (max-width:1000px){

    .main-page-img img:nth-child(1){
        position: relative;
        top: 156px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 60px;
        right: 0;
        width: 400px;
    }
}
@media screen and (min-width:800px) and (max-width:900px){

    .main-page-img img:nth-child(1){
        position: relative;
        top: 187px;
    }
    .my-nav-link{
        position: relative !important;
        z-index: 9999;
    }
    .main-page-img img:nth-child(2){
        width: 300px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 80px;
        right: 0;
        width: 380px;
    }
    .second .intro-txt{
        position: relative;
        top: 50px;
        width: 60%;
    }
}
@media screen and (min-width:700px) and (max-width:800px){

    #men-lappy{
        width: 220px;
        height: 220px;
    }
    .my-nav-link{
        position: relative !important;
        z-index: 999;
    }
    .main-page-img img:nth-child(1){
        position: relative;
        top: 219px;
    }
    .main-page-img img:nth-child(2){
        width: 240px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 100px;
        right: 0;
        width: 360px;
    }
    .second .intro-txt{
        position: relative;
        top: 50px;
        width: 70%;
    }
    .second img:nth-child(1){
        width: 130px;
    }
    #laptop{
        width: 130px;
    }
} 
@media screen and (min-width:600px) and (max-width:700px){

    #men-lappy{
        width: 200px;
        height: 200px;
    }
    .my-nav-link{
        position: relative !important;
        z-index: 999;
    }
    .main-page-img img:nth-child(1){
        position: relative;
        top: 219px;
    }
    .main-page-img img:nth-child(2){
        width: 240px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 110px;
        right: 0;
        width: 350px;
    }
    .second .intro-txt{
        position: relative;
        top: 40px;
        width: 60%;
    }
    .second img:nth-child(1){
        width: 130px;
    }
    #laptop{
        width: 120px;
    }
    .intro-txt p{
        font-size: 0.9em;
    }
} 
@media screen and (min-width:500px) and (max-width:600px){

    #men-lappy{
        width: 200px;
        height: 200px;
    }
    #myName{
        display: none;
    }
    .my-nav-bar{
        border-radius: 0;
    }
    .my-nav-link{
        position: relative !important;
        z-index: 999;
    }
    .main-page-img img:nth-child(1){
        position: relative;
        top: 219px;
    }
    .main-page-img img:nth-child(2){
        width: 240px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 140px;
        right: 0;
        width: 320px;
    }
    .second .intro-txt{
        position: relative;
        top: 30px;
        width: 60%;
    }
    .second img:nth-child(1){
        width: 110px;
    }
    #laptop{
        width: 100px;
    }
    .intro-txt p{
        font-size: 0.8em;
    }
} 
@media screen and (min-width:400px) and (max-width:500px){

    #men-lappy{
        width: 200px;
        height: 200px;
    }
    #myName{
        display: none;
    }
    .my-nav-bar{
        border-radius: 0;
    }
    .my-nav-link{
        position: relative !important;
        z-index: 999;
    }
    .main-page-img img:nth-child(1){
        display: none;
    }
    .main-page-img img:nth-child(2){
        width: 240px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 140px;
        right: 10%;
        width: 320px;
    }
    .second .intro-txt{
        position: relative;
        top: 30px;
        width: 60%;
    }
    .second img:nth-child(1){
        width: 70px;
    }
    #laptop{
        width: 70px;
    }
    .intro-txt p{
        font-size: 0.6em;
    }
} 
@media screen and (min-width:300px) and (max-width:400px){

    #men-lappy{
        width: 200px;
        height: 200px;
    }
    #myName{
        display: none;
    }
    .my-nav-bar{
        border-radius: 0;
    }
    .my-nav-link{
        position: relative !important;
        z-index: 999;
    }
    .main-page-img img:nth-child(1){
        display: none;
    }
    .main-page-img img:nth-child(2){
        width: 240px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 170px;
        right: 2%;
        width: 290px;
    }
    .second .intro-txt{
        position: relative;
        top: 30px;
        width: 60%;
    }
    .second img:nth-child(1){
        width: 70px;
    }
    #laptop{
        width: 70px;
    }
    .intro-txt p{
        font-size: 0.5em;
    }
} 
@media screen and (min-width:200px) and (max-width:300px){

    #men-lappy{
        width: 200px;
        height: 200px;
    }
    #myName{
        display: none;
    }
    .my-nav-bar{
        border-radius: 0;
    }
    .my-nav-link{
        position: relative !important;
        z-index: 999;
    }
    .main-page-img img:nth-child(1){
        display: none;
    }
    .main-page-img img:nth-child(2){
        width: 140px;
    }
    .main-page-img img:nth-child(3){
        position: absolute;
        top: 260px;
        right: 0px;
        width: 200px;
    }
    .second .intro-txt{
        position: relative;
        top: 30px;
        width: 60%;
    }
    .second img:nth-child(1){
        width: 50px;
    }
    #laptop{
        width: 50px;
    }
    .intro-txt p{
        font-size: 0.4em;
    }
} 
/* ---------------------------------------------------------------- */
.second img:nth-child(1){
    position: absolute;
    right: 0;
}

.intro-txt{
    position: relative;
    top: 60px;
    width: 70%;
}
.intro-txt p{
    font-family: 'pt mono';
    font-weight: 700;
    animation: 1s ease-out infinite;
}

.sec-card{
    position: relative;
    margin-left: auto;
    align-self: flex-end;
}
.main-card-section{
    margin-top: 30px;
    background: #ff6e7f; 
    background: -webkit-linear-gradient(to right, #ff6e7f, #bfe9ff);
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
}
.notification{
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 9999;
}
.notification-txt{
    font-family: 'PT Mono';
}
/* .main-carousel{
    padding: 30px 30px;
} */

.all-card{
    /* background-color: #5B5C68 !important; */
    background: #ff6e7f; 
    background: -webkit-linear-gradient(to right, #ff6e7f, #bfe9ff);
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    border: none;
}
.all-card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
    transition: 0.6s;
}
.card-title{
    font-family: 'outfit';
    font-weight: bolder;
}
.card-text{
    font-family: 'montserrat';
}
.c-img{
    border-radius: 2px 25px !important;
    overflow: hidden;
}
#team-work{
    width: 200px;
}
#scotter{
    width: 200px;
    padding-top: 20px;
}


.main-footer{
    width: 100%;
    height: 150px;
    background: linear-gradient(45deg,#7bdcb5,#32ded4) no-repeat;
    display: flex;
    align-items: flex-end;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    transform: scaleY(1);
}

